<launch>
	<arg name = "record" default = "0" />
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
	<node pkg="turtlebot_rhoomba" name="turtlebot_rhoomba" type="turtlebot_rhoomba_node" output="screen"/>
	<group if = "$(arg record)">
      		<node name="record_turtlebot_rhoomba" pkg="rosbag" type="record" args="-a -x /camera/(.*) -O $(find turtlebot_rhoomba)/results/turtlebot_record.bag"/>
    	</group>
</launch>
